<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Formulario</h1>



    <form>
        <label>Nombre Completo:</label>
        <br />
        <input type="text" id="txtNombre" required />
        <br />
        <br />

        <label>Correo:</label>
        <br />
        <input type="email" id="txtEmail" required placeholder="nombre@gmail.com" />
        <br />
        <br />

        <label>Fecha:</label>
        <br />
        <input type="date" id="txtDate" required />
        <br />
        <br />

        <label>Telefono:</label>
        <br />
        <input type="tel" id="txtTelefono" required placeholder="0000-0000" />
        <br />
        <br />

        <label>Asunto:</label>
        <br />
        <select id="slAsunto" required>
            <option value="VENTAS">VENTAS</option>
            <option value="SOPORTE">SOPORTE</option>
            <option value="RECLAMO">RECLAMO</option>
        </select>
        <br />
        <br />
        <br />

        <label>Mensaje:</label>
        <br />
        <textarea id="txtMensaje" rows="3" cols="60" required></textarea>
        <br />
        <br />

        <button type="submit">Enviar</button>

        <br />
        <br />

    </form>


    <a href="../index.html">Regresar al inicio</a>
</body>
</html>