<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1>Tablas</h1>

    <table>
        <tr>
            <td>#</td>
            <td>Codigo</td>
            <td>Estudiante</td>
        </tr>
        <tr>
            <td>1</td>
            <td>123456</td>
            <td>Erick Wilfredo Caceres Gonzalez</td>
        </tr>
        <tr>
            <td>2</td>
            <td>564987</td>
            <td>Gorge Juan Lupe Rivera</td>
        </tr>
        <tr>
            <td>3</td>
            <td>321654</td>
            <td>Camila Liliana Padilla Mercedez</td>
        </tr>
    </table>

    <br />

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Nombre</th>
            </tr>
        <tbody>
            <tr>
                <td>1</td>
                <td>123456</td>
                <td>Erick Wilfredo Caceres Gonzalez</td>
            </tr>
            <tr>
                <td>2</td>
                <td>564987</td>
                <td>Gorge Juan Lupe Rivera</td>
            </tr>
            <tr>
                <td>3</td>
                <td>321654</td>
                <td>Camila Liliana Padilla Mercedez</td>
            </tr>
        </tbody>
    </table>

    <br />
    <a href="../index.html">Regresar al inicio</a>

</body>
</html>